

      <script type="text/javascript" src="app.js"></script> 
<md-card class="example-card" >
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <!-- subtituir titulo por controller angular -->
          <md-card-title>Mesa {{numero}}: {{name}}</md-card-title>
          <menu-table></menu-table>
        </md-card-header>
        <img md-card-image src="img/restaurant.jpg" alt="foto de mesa">
        <md-card-content>
        </md-card-content>
        <md-card-actions>
          <button md-button>TICKET</button>
          <button md-button>SUBTOTAL</button>
        </md-card-actions>
</md-card>


